body
{
    font-family: verdana sans-seriff;
    background-color: #4deeff;
    border: 1px dotted gray;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

table, tr, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
    margin-bottom: 10px;
}

footer
{
    background-color: #ff4dee;
    border-top: 1px solid black;
    margin-top: 10px;
}

header
{
    background-color: #ff4dee;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

label, input
{
    display:block;
}

input, select
{
    margin-bottom: 10px;
}
form{
    margin: 10px;
}

div#insertar
{
    float: left;
    width: 300px;
}

div#buscar
{
    float: left;
    width: 300px;
}

table#ciudades
{
    clear: both;
}

td img
{
    width: 50px;
}